body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

:root {
  --primary-color: #00407A;
  --support-color: #009EE0;
  --secondary-color: #6c757d;
}

.container {
  width: 750px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.25rem;
}

.header {
  padding: 20px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
}

.header .meet {
  color: white;
  margin: 0.5rem 0.5rem;
  font-size: 1.5rem;
}

.header .meet .name-highlight {
  color: #ffc107;
  font-weight: bold;
}

.roles {
  display: flex;
  flex-direction: column;
  border-left: 5px solid white;
  padding-left: 20px;
  justify-content: center;
  & p {
    margin: 0.25rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border: 1rem solid #f8f9fa;
  border-radius: 50%;
  display: block;
  left: calc(50% + 2rem);
  top: calc(2rem + 75px);
  margin-bottom: -60px;
  margin-top: 20px
}

h4 {
  color: var(--primary-color);
}

h4::after {
  content: "";
  display: block;
  width: 75%;
  margin: auto;
  height: 1px;
  background: linear-gradient(to right, white, var(--primary-color), white);
  margin-top: 0.5rem;
}

p {
  line-height: 1.25;
}

.icons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.5rem;
}

.icons div {
  color: var(--primary-color);
  background-color: white;
  padding: 0.25rem;
  border-radius: 0.25rem;
  height: fit-content;
}

.icons a {
  text-decoration: none;
  color: var(--primary-color);
}

.icons div:hover {
  background-color: var(--support-color);
  color: white;
  cursor: pointer;
}

.header-right {
  display: flex;
  gap: 0.5rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 0.25rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #888;
}

.modal-body {
  display: flex;
  width: 100%;
  justify-content: center;
}

.modal-header h2 {
  margin: 0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}